/* Album Item */
.albumItem {
    width: 246px;
    height: 319px;
    margin: 0 27px 22px 0;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    padding: 22px;
  }
  
  .albumItem:last-child {
    margin-bottom: 0;
  }
  
  .image {
    margin-bottom: 22px;
  }
  
  .albumsWrap  {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    justify-content: center;
    margin-top: 68px;
  }
  
  .artistNameWrap {
    margin-bottom: 16px;
  }
  
  .artistName {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #DADADA;
  }
  
  .subArtistName {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #DADADA;
  }
  
  .albumName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
  }
  
  .albumDate {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
  }
  