.loginWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    width: 190px;
    height: 48px;
    background: #5AB663;
    border-radius: 10px;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.buttonText {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}